.configPage {
	font-size: 1rem;
	position: absolute;
	top: 0.625em;
	right: 0.625em;
}
.contentLanguage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border-radius: 0.3125em;
	transform: translateY(-0.625em);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
}
.contentLanguage--show {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.btn--theme {
	border-radius: 100%;
	position: relative;
	justify-content: center;
	margin-bottom: 0.625em;
}
.btn--theme::after {
	content: '';
  position: absolute;
	width: 2.5em;
	height: 2.5em;
	top: 0;
	left: 0;
}
.btn--theme img {
	width: 1.6875em;
}
.btn--leng {
	border-radius: 100%;
	position: relative;
	justify-content: center;
	margin-bottom: 0.625em;
}
.btn--leng::after {
	content: '';
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	top: 0;
	left: 0;
}
.btn--leng::before {
	content: attr(data-lang);
	position: absolute;
	width: 1.5625em;
	padding-bottom: 0.125em;
	top: -0.3125em;
	left: -0.625em;
	font-size: 0.6875em;
	border-radius: 0.125em;
	background-color: green;
}
.btn--leng svg {
	margin-left: 0;
}
.btn--lengSelect {
	padding: 5px;
	position: relative;
	justify-content: center;
	margin-bottom: 0.625em;
}
.btn--lengSelect::after {
	content: '';
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	top: 0;
	left: 0;
}
.btn--lengSelect img {
	width: 1.875em;
}
