.infoUser {
  font-size:1rem;
	width: 18.75em;
	margin: auto;
	padding: 0.9375em;
	border-radius: 0.3125em;
	background: var(--color-principalBox);
	box-shadow: 0.3125em 0.3125em 0.625em var(--color-boxShandongDark),
		-0.3125em -0.3125em 0.625em var(--color-boxShadowsClear);
}
@media screen and (min-width: 1024px) {
	.infoUser {
		width: 37.5em;
		padding: 1.875em 1.25em;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}
.infoUser__date {
	margin: 1.875em 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.infoUser__icon {
	display: inline-block;
}
.infoUser__icon svg {
	width: 1em;
	height: 1em;
	fill: var(--color-bluePrimary);
}
.infoUser__text {
	padding-left: 0.625em;
	display: inline-block;
	text-decoration: underline;
}
.infoUser__contentRedes {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.infoUser__red {
	width: 1.4em;
	height: 1.4em;
	display: inline-block;
	margin-left: 0.625em;
}
.infoUser__red:active {
	transform: scale(1.09);
	transition: transform 0.2s;
}
.infoUser__red:nth-child(1) {
	margin-left: 0;
}