.project {
	width: 100%;
	font-size: 1rem;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'title'
		'content';
	gap: 1em;
	justify-items: center;
}

.project__title {
	text-align: center;
	margin: 0;
}

.project__content {
	width: 80%;
	padding-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	grid-area: content;
}

.cardProject {
	width: 300px;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(5, auto);
	grid-template-areas:
		'contentImg'
		'title'
		'description'
		'tags'
		'footer';
	gap: 1em;
	border: 2px solid var(--color);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.cardProject__contentImg {
	grid-area: contentImg;
	width: 100%;
	height: 12.5em;
}

.cardProject__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	mask-image: linear-gradient(var(--color) 80%, transparent);
}

.cardProject__title {
	text-align: center;
	margin: 0;
	font-size: 1.2em;
	grid-area: title;
	color: var(--color);
	padding: 0 1em;
}

.cardProject__description {
	padding: 1em;
	margin: 0;
	grid-area: description;
}

.cardProject__tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1em;
	grid-area: tags;
}

.cardProject__tag {
	background-color: var(--color);
	padding: 0.3125em 0.5em;
	border-radius: var(--border-radius);
}

.cardProject__contentFooter {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1em;
	grid-area: footer;
}

.cardProject__link {
	color: var(--color);
	text-decoration: none;
	padding: 0.3125em 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}
